:root {
  --max-width: 1126px;
  --border-radius: 12px;

  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --primary-color: white;
  --secondary-color: #39c270;

  --section-outer-padding: 60px;
  --section-inner-padding: 24px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--primary-color);
  background: #27262d;
  font-family: Inter;
  font-size: 16px;
  padding: var(--section-outer-padding);
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 48px;
  font-weight: var(--font-weight-bold);
}

h2 {
  font-size: 20px;
  font-weight: var(--font-weight-semibold);
}

h3 {
  font-size: 18px;
  font-weight: var(--font-weight-semibold);
}
