:root {
  --border-radius: 12px;

  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --primary-color: white;
  --secondary-color: #39c270;
  --inverted-color: black;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
}

body {
  color: var(--primary-color);
  background: #27262d;
  font-family: Inter;
}

svg {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 3rem;
  font-weight: var(--font-weight-bold);
}

h2 {
  font-size: 1.25rem;
  font-weight: var(--font-weight-semibold);
}

h3 {
  font-size: 1.1rem;
  font-weight: var(--font-weight-semibold);
}
